In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\prate\Documents\uber_data_india_realistic.csv")

In [3]:
df

,ride_id,customer_id,driver_id,ride_date,ride_time,pickup_location,dropoff_location,distance_km,ride_duration_min,fare_amount,payment_method,customer_rating,driver_rating,cancellation_reason,ride_status,promo_code,vehicle_type,weather_condition,traffic_condition,driver_experience_years
0,R0000001,C00001,D00001,2023-01-03 15:00:00,14:05:41,Kolkata,Bangalore,1871,2463.14,22502.0,Cash,4,2,NaN,Completed,NaN,Mini,Clear,Low,5
1,R0000002,C00002,D00002,2023-01-04 13:00:00,12:26:26,Delhi,Hyderabad,1570,2845.92,22658.0,Card,2,1,NaN,Completed,NaN,Mini,Clear,Medium,8
2,R0000003,C00003,D00003,2023-01-07 02:00:00,03:25:31,Pune,Delhi,1490,2416.70,27942.8,Cash,5,5,NaN,Completed,NaN,SUV,Rainy,Medium,8
3,R0000004,C00004,D00004,2023-01-01 13:00:00,19:43:17,Delhi,Surat,1182,2340.03,14234.0,Cash,3,3,NaN,Completed,NaN,Sedan,Clear,Low,7
4,R0000005,C00005,D00005,2023-01-05 11:00:00,16:35:35,Hyderabad,Surat,983,1189.26,15384.8,Card,1,1,NaN,Completed,NaN,Auto,Rainy,Low,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,R0079996,C79996,D79996,2023-01-05 18:00:00,18:08:59,Pune,Kolkata,2058,2666.19,32154.8,Card,3,3,NaN,Completed,NaN,Mini,Rainy,Low,4
79996,R0079997,C79997,D79997,2023-01-08 16:00:00,04:40:39,Jaipur,Chennai,2185,4008.71,31514.0,Card,3,4,NaN,Completed,PROMO20,SUV,Clear,Medium,1
79997,R0079998,C79998,D79998,2023-01-07 14:00:00,14:17:54,Pune,Jaipur,1294,1773.28,18683.6,Card,4,3,Rider Cancelled,Cancelled,NaN,Auto,Clear,Medium,2
79998,R0079999,C79999,D79999,2023-01-02 06:00:00,16:46:31,Pune,Ahmedabad,660,1291.82,11454.8,Cash,3,2,NaN,Completed,NaN,Mini,Foggy,Medium,7
79999,R0080000,C80000,D80000,2023-01-01 17:00:00,05:18:32,Mumbai,Hyderabad,709,970.64,10259.6,Cash,2,4,NaN,Completed,PROMO10,Auto,Clear,Medium,6

In [4]:
df.isna().sum()

ride_id                        0
customer_id                    0
driver_id                      0
ride_date                      0
ride_time                      0
pickup_location                0
dropoff_location               0
distance_km                    0
ride_duration_min              0
fare_amount                    0
payment_method                 0
customer_rating                0
driver_rating                  0
cancellation_reason        71956
ride_status                    0
promo_code                 64012
vehicle_type                   0
weather_condition              0
traffic_condition              0
driver_experience_years        0
dtype: int64

In [5]:
df1 = df.fillna('not applicable')

In [6]:
df1

,ride_id,customer_id,driver_id,ride_date,ride_time,pickup_location,dropoff_location,distance_km,ride_duration_min,fare_amount,payment_method,customer_rating,driver_rating,cancellation_reason,ride_status,promo_code,vehicle_type,weather_condition,traffic_condition,driver_experience_years
0,R0000001,C00001,D00001,2023-01-03 15:00:00,14:05:41,Kolkata,Bangalore,1871,2463.14,22502.0,Cash,4,2,not applicable,Completed,not applicable,Mini,Clear,Low,5
1,R0000002,C00002,D00002,2023-01-04 13:00:00,12:26:26,Delhi,Hyderabad,1570,2845.92,22658.0,Card,2,1,not applicable,Completed,not applicable,Mini,Clear,Medium,8
2,R0000003,C00003,D00003,2023-01-07 02:00:00,03:25:31,Pune,Delhi,1490,2416.70,27942.8,Cash,5,5,not applicable,Completed,not applicable,SUV,Rainy,Medium,8
3,R0000004,C00004,D00004,2023-01-01 13:00:00,19:43:17,Delhi,Surat,1182,2340.03,14234.0,Cash,3,3,not applicable,Completed,not applicable,Sedan,Clear,Low,7
4,R0000005,C00005,D00005,2023-01-05 11:00:00,16:35:35,Hyderabad,Surat,983,1189.26,15384.8,Card,1,1,not applicable,Completed,not applicable,Auto,Rainy,Low,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,R0079996,C79996,D79996,2023-01-05 18:00:00,18:08:59,Pune,Kolkata,2058,2666.19,32154.8,Card,3,3,not applicable,Completed,not applicable,Mini,Rainy,Low,4
79996,R0079997,C79997,D79997,2023-01-08 16:00:00,04:40:39,Jaipur,Chennai,2185,4008.71,31514.0,Card,3,4,not applicable,Completed,PROMO20,SUV,Clear,Medium,1
79997,R0079998,C79998,D79998,2023-01-07 14:00:00,14:17:54,Pune,Jaipur,1294,1773.28,18683.6,Card,4,3,Rider Cancelled,Cancelled,not applicable,Auto,Clear,Medium,2
79998,R0079999,C79999,D79999,2023-01-02 06:00:00,16:46:31,Pune,Ahmedabad,660,1291.82,11454.8,Cash,3,2,not applicable,Completed,not applicable,Mini,Foggy,Medium,7
79999,R0080000,C80000,D80000,2023-01-01 17:00:00,05:18:32,Mumbai,Hyderabad,709,970.64,10259.6,Cash,2,4,not applicable,Completed,PROMO10,Auto,Clear,Medium,6

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ride_id                  80000 non-null  object
 1   customer_id              80000 non-null  object
 2   driver_id                80000 non-null  object
 3   ride_date                80000 non-null  object
 4   ride_time                80000 non-null  object
 5   pickup_location          80000 non-null  object
 6   dropoff_location         80000 non-null  object
 7   distance_km              80000 non-null  int64
 8   ride_duration_min        80000 non-null  float64
 9   fare_amount              80000 non-null  float64
 10  payment_method           80000 non-null  object
 11  customer_rating          80000 non-null  int64
 12  driver_rating            80000 non-null  int64
 13  cancellation_reason      80000 non-null  object
 14  ride_status              80000 non-null  object
 15  promo_code               80000 non-null  object
 16  vehicle_type             80000 non-null  object
 17  weather_condition        80000 non-null  object
 18  traffic_condition        80000 non-null  object
 19  driver_experience_years  80000 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 12.2+ MB

In [8]:
# number of various pickup locations along with names

In [9]:
df1['pickup_location'].value_counts()

pickup_location
Surat        8268
Kolkata      8170
Delhi        8058
Pune         8005
Ahmedabad    7988
Hyderabad    7979
Mumbai       7973
Chennai      7904
Jaipur       7862
Bangalore    7793
Name: count, dtype: int64

In [10]:
# average distance travelled by uber cars on daily basis

In [11]:
 x = df1['distance_km'].mean()

In [12]:
print(x)

1212.79685

In [13]:
# Average time taken by uber cars from jaipur to chennai in minutes.

In [14]:
 A = df1[(df1['pickup_location'] == 'Jaipur') & (df1['dropoff_location'] == 'Chennai')]

In [15]:
t = A['ride_duration_min'].mean()

In [16]:
print(t)

3491.868331479422

In [17]:
# Average time taken by uber cars from jaipur to chennai in hour.

In [18]:
b = t/60

In [19]:
print(b) # here b shows  Average time taken by uber cars from jaipur to chennai in hour.

58.197805524657035

In [20]:
# average customer_ratings

In [21]:
df1['customer_rating'].mean()

3.0075125

In [22]:
#so , the average customer rating Is 3.0

In [23]:
card_payments = df1[df1['payment_method'] == 'Card'].shape[0]

In [24]:
card_payments

26850

In [25]:
# so, the number of total card payments is 26850.

In [26]:
total_payments = df1['payment_method'].count()

In [27]:
total_payments

80000

In [28]:
# the percentage of card payments.

In [29]:
card_percent = (card_payments/total_payments)*100

In [30]:
card_percent

33.5625

In [31]:
# finding top 10 cities to cancel ride.

In [32]:
R = df1[df1['ride_status'] == 'Cancelled']

In [33]:
R['pickup_location'].value_counts()

pickup_location
Kolkata      867
Surat        833
Ahmedabad    821
Pune         815
Hyderabad    806
Chennai      799
Mumbai       798
Delhi        779
Jaipur       776
Bangalore    750
Name: count, dtype: int64

In [79]:
df1['cancellation_reason'].unique()

array(['not applicable', 'Rider Cancelled', 'Driver Cancelled', 'No Show'],
      dtype=object)

In [ ]:
# top 5 pickup location where rider cancelled the ride.

In [71]:
c = df1[df1['cancellation_reason'] == 'Rider Cancelled']

In [77]:
c['pickup_location'].value_counts().head()

pickup_location
Ahmedabad    435
Kolkata      430
Mumbai       418
Surat        417
Chennai      404
Name: count, dtype: int64

In [81]:
# drive's average experience years

In [83]:
df1['driver_experience_years'].mean()

5.512

In [85]:
# so, the average experience year of driver's is 5.5